{% load i18n %}
{% autoescape off %}

{% blocktrans %}
Hello,{{user.username }},

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktrans %}

{% blocktrans %}
Please go to the following page and choose a new password:
{% endblocktrans %}

{% blocktrans %}
Someone requested a password reset for the email address associated with this account. If this was you, follow the link below to reset your password:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

{% blocktrans %}
If you didn't request this password reset or if you believe this is a mistake, you can safely ignore this email.
{% endblocktrans %}

{% blocktrans %}
Your username, in case you've forgotten: {{ user.get_username }}
{% endblocktrans %}

{% blocktrans %}
Thanks for using our site!
{% endblocktrans %}

{% endautoescape %}