{% load static %}
<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Forgot Password </title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core static/css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}"class="template-customizer-core-css" />
    <link rel="stylesheet"  type="text/css" href="{% static 'assets/vendor/static/css/theme-default.css' %}"class="template-customizer-theme-css" />
    <link rel="stylesheet"href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors static/css -->
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">

    <!-- Page static/css -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}">

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl" style="background-image: url("{% static 'assets/img/pint.jpg' %}"); background-size: cover;">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Forgot Password -->
          <div class="card shadow">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="{% url 'home' %}" class="app-brand-link gap-2">
                  
                  <span class="app-brand-text demo text-body  fw-bold">Afripimall</span>
                </a>
              </div>
              <!-- /Logo -->
              <h6 class="mb-2 text-center text-warning">Forgot Password? </h6>
						  

						  <div class="card-body text-center">
						  	<div class="  col-10 mx-auto " >
						  	
                  <h1>Forgotten your password?</h1>
                  <p><h3></h3>Use the form below to change your password</h3></p>
                
                   {% block title %}Reset your password{% endblock %}
{% block content %}
<h1>Change your password</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}
</form>
{% endblock %}

						  		<p class="text-small mt-3" style="font-size: 12px;"> We'll send your a reset link to your e-mail  </p>

						  	  </div>
						  	</div>


				

						    <br><br> 


						 </div>


						</div>

					



						</div>
    <!-- / Content -->

  

    <!-- Core JS -->
    <!-- build:js static/assets/vendor/js/core.js -->

    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>