{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	
    <title>AFRIPIMALL</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->



	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<!-- Fancybox -->
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
<!-- Themify Icons -->
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<!-- Nice Select CSS -->
<link rel="stylesheet" href="{% static 'css/niceselect.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<!-- Flex Slider CSS -->
<link rel="stylesheet" href="{% static 'css/flex-slider.min.css' %}">
<!-- Owl Carousel -->
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
<!-- Slicknav -->
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">

<!-- Eshop StyleSheet -->
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!--<script>
		if (location.pathname === '/register.html') {
				window.location.replace('/');
		}
		</script>-->






</head>

<body class="js Login">
	<!-- template_name.html -->

	
	<!-- Preloader
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	 End Preloader -->
		
		<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i> Your current location is <span class="text-warning">Nigeria</span></li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content d-none d-lg-block">
							<ul class="list-main">

								<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
								<li><i class="ti-user"></i> <a href="#">My account</a></li>
								<li><i class="ti-power-off"></i><a href="/auth/login_user/">Login</a></li>
								<li> EN <i class="ti-angle-down"></i> <a href="#"></a></li>


							</ul>
						</div>


						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo w-25 d-lg-none ">
							<a href="index.html"><img<img src="{% static 'images/logo.png' %}" alt="logo" class="w-100"></a>
						</div>

            <div class="logo w-75 d-none d-lg-block ">
              <a href="index.html">
								<img src="{% static 'images/logo.png' %}" alt="logo" class="w-100">
						</a>
            </div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search a product or a seller..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>



					<style>
						.nn{
							border: none;
						}
					</style>



					<div class="col-lg-8 col-md-8 col-12 rounded-pill ">
						<div class="search-bar-top ">
							<div class="search-bar shadow nn" style="border: none; border-radius: 30px;">
								<select>
									<option selected="selected">All</option>
									<option>watch</option>
									<option>mobile</option>

								</select>
								<form style="border: none; border-radius: 30px;">
									<input name="search" placeholder="Search a product or a seller..." type="search" class="nn">

								</form>
							</div>
						</div>
					</div>



					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-shopping-cart"></i> <span class="total-count">2</span></a>




								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="#">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
<a class="cart-img" href="#"><img src="{% static 'images/gg.jpg' %}" alt="#">
</a>

											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#">
												<img src="{% static 'images/gg.jpg' %}" alt="#">
										</a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="checkout.html" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						




						<div class="col-lg-9 col-12">
							<div class="menu-area">

					<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><a href="#">Home</a></li>
													<li><a href="#">Customer Service</a></li>
													


													<li><a href="#">Gift Card</a></li>

													<li><a href="contact.html">Sell</a></li>

													<li><a href="">Discover Afripimall</a></li>

													<li><a href="#">Order<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li><a href="order-history.html">Orders History</a></li>
															<li><a href="track-order.html">Track my order</a></li>
															<li><a href="contact.html">Contact Support</a></li>
														</ul>
													</li>
													

													<!-- <li><a href="#">Langage<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="shop-grid.html">Shop Grid</a></li>
															<li><a href="cart.html">Cart</a></li>
															<li><a href="checkout.html">Checkout</a></li>

															<li class="text-lg-end"><a href="">Shop top categories</a></li>

														</ul>
													</li> -->

													
												</ul>
										</div>


									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->


					<style type="text/css">
						


						.card {

							background-color: rgb(255 255 255 / 0.6);
							backdrop-filter: blur(10%);
							border-radius: 20px;
							position: relative;

						}


						.logi {
							background-color: burlywood;
						}


						.bg-dark {
							background-color: burlywood;
						}


					

					</style>


	
	
	<!-- Start Login  style="width: 20rem;" -->
	<section  class="mt-5 mb-5">
		<div  class="container  col d-flex justify-content-center ">
			<div class=" col-12 mt-5 mb-5">
				<div class="row justify-content-center ">
					<div class="offset-lg-0 col-12 ">
						{% if messages %}
	{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
					<strong>{{ message }}</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	{% endfor %}
{% endif %}
	
						<!-- Start Login Inner -->
						<div class="inner col-lg-6 offset-lg-3  justify-content-center d-flex">
							<div class="card shadow" style="border:none;"> <br><br>
								<div class=" mt-3 d-flex justify-content-center">
									<h5 class="card-title text-center">
										<img src="{% static 'images/logo.png' %}" class="w-50">
								</h5>
						  </div>
						   <p class="card-subtitle  text-muted text-center">join the greatest Pi community</p>
						  <div class="card-body text-center">
						  	<div class="col-11 mx-auto" >



							
									<form action="{% url 'register' %}" method="post" class="text-center">
										{% csrf_token %}
										<div class="col">
											<label for="username">Your Name</label>
											<input type="text" class="form-control rounded-pill text-center text-muted" name="username" id="username" placeholder="Your Name" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;">
										</div>
									
										<div class="col">
											<label for="email">Enter Your Email</label>
											<input type="email" id="email" class="form-control rounded-pill text-center text-muted" name="email" placeholder="Enter Your Email" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;">
										</div>
								
									
										<div class="col">
											<label for="password1">Your Password</label>
											<input type="password" id="password1" class="form-control rounded-pill text-center text-muted" name="password1" placeholder="Your Password" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;" 
											pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?!.*\s).{8,}$" 
											title="Your password must contain at least 8 characters, include at least one letter, one number, and one special character. It cannot be too similar to your personal information, a common password, or entirely numeric.">
									</div>
									
									<div class="col">
										<label for="password2">Confirm Your Password</label>
										<input type="password" id="password2" class="form-control rounded-pill text-center text-muted" name="password2" placeholder="Confirm Your Password" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;" 
										pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?!.*\s).{8,}$" 
										title="Your password must contain at least 8 characters, include at least one letter, one number, and one special character. It cannot be too similar to your personal information, a common password, or entirely numeric."
										onpaste="return false" autocomplete="off" required>
								</div>
									
										<div class="col">
											<label for="address">Address</label>
											<input type="text" id="address" class="form-control rounded-pill text-center text-muted" name="address" placeholder="Address" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;" required>
										</div>
										
										<div class="col">
											<label for="country">Country</label>
											<input type="text" class="form-control rounded-pill text-center text-muted" name="country" id="country" placeholder="Country" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;">
										</div>
										
										<div class="col">
											<label for="city">City</label>
											<input type="text" class="form-control rounded-pill text-center text-muted" name="city" id="city" placeholder="City" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;">
										</div>
									
										<div class="col">
											<label for="phone">Phone Number</label>
											<input type="tel" class="form-control rounded-pill text-center text-muted mb-4" name="phone" id="phone" placeholder="Phone Number" style="border: none; background-color: #E8CEAB; height: 40px; font-size: 12px;">
										</div>
									
										<div class="form-group">
											<div class="form-check mb-4">
												<input class="form-check-input bg-dark" type="checkbox" value="" id="check" required>
												<label class="form-check-label" for="check">
													<span class="text-small">I agree with all the Afripimall statements concerning terms and conditions</span>
												</label>
											</div>
										</div>
									
										<div class="mt-6">
											<button type="submit" id="formButton" class="btn btn-sm mx-auto d-inline-block card-link bg-dark text-white shadow" style="font-size: 15px; background-color: #ED7D31;">JOIN THE COMMUNITY</button>
										</div>
									</form>
								</div>
						  	
							

						    <br><br>



						    <p class="text-small">Already have an account? <a href="/auth/login_user/" class="text-warning">Sign in here</a></p> 


 
						 </div>


						</div>

					



						</div>
						<!-- End Newsletter Inner -->
					</div>



							





							<style type="text/css">
								

								#form {
									display: none;
									animation: formFade 2s ease-in-out;
									-moz-animation: formFade 2s ease-in-out; /* Firefox */
									-webkit-animation: formFade 2s ease-in-out; /* Safari and Chrome */
									-o-animation: formFade 2s ease-in-out; /* Opera */
									}

									@keyframes formFade {
									from {
									    opacity:0;
									}
									to {
									    opacity:1;
									}
									}
									@-moz-keyframes formFade { /* Firefox */
									from {
									    opacity:0;
									}
									to {
									    opacity:1;
									}
									}
									@-webkit-keyframes formFade { /* Safari and Chrome */
									from {
									    opacity:0;
									}
									to {
									    opacity:1;
									}
									}
									@-o-keyframes formFade { /* Opera */
									from {
									    opacity:0;
									}
									to {
									    opacity: 1;
									}
									}

									</style>




									



									<!--<script>
										const form = document.querySelector('form');
										const button = document.getElementById('formButton');
								
										button.addEventListener('click', function(e) {
												e.preventDefault();
												form.submit();
										});
								</script>-->

								<script>
									const form = document.querySelector('form');
const button = document.getElementById('formButton');

form.onsubmit = function(e) {
    e.preventDefault();
    form.submit();
};
								</script>
								
				



			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	




	
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html">
									<img src="{% static 'images/logfooter.png' %}" class="w-50" alt="#">
							</a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - Nigeria Lagos.</li>
									<li>012 United Kingdom.</li>
									<li>info@afripimall.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 <a href="" target="_blank">Afripimall</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="{% static 'images/payments.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	
	
 
	<!-- Jquery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<!-- Popper JS -->
	<script src="{% static 'js/popper.min.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Color JS -->
	<script src="{% static 'js/colors.js' %}"></script>
	<!-- Slicknav JS -->
	<script src="{% static 'js/slicknav.min.js' %}"></script>
	<!-- Owl Carousel JS -->
	<script src="{% static 'js/owl-carousel.js' %}"></script>
	<!-- Magnific Popup JS -->
	<script src="{% static 'js/magnific-popup.js' %}"></script>
	<!-- Fancybox JS -->
	<script src="{% static 'js/facnybox.min.js' %}"></script>
	<!-- Waypoints JS -->
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<!-- Jquery Counterup JS -->
	<script src="{% static 'js/jquery-counterup.min.js' %}"></script>
	<!-- Countdown JS -->
	<script src="{% static 'js/finalcountdown.min.js' %}"></script>
	<!-- Nice Select JS -->
	<script src="{% static 'js/nicesellect.js' %}"></script>
	<!-- Ytplayer JS -->
	<script src="{% static 'js/ytplayer.min.js' %}"></script>
	<!-- Flex Slider JS -->
	<script src="{% static 'js/flex-slider.js' %}"></script>
	<!-- ScrollUp JS -->
	<script src="{% static 'js/scrollup.js' %}"></script>
	<!-- Onepage Nav JS -->
	<script src="{% static 'js/onepage-nav.min.js' %}"></script>
	<!-- Easing JS -->
	<script src="{% static 'js/easing.js' %}"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="{% static 'js/gmap.min.js' %}"></script>
<script src="{% static 'js/map-script.js' %}"></script>
<!-- Active JS -->
<script src="{% static 'js/active.js' %}"></script>
</body>
</html>