<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>AFRIPIMALL</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="static/images/favicon.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->



	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="static/css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="static/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="static/css/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="css/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="static/css/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="static/css/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="static/css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="static/css/slicknav.min.css">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">



</head>



<body class="js logi">
	
	<!-- Preloader
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	 End Preloader -->
		
		<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-location-pin"></i> Your current location is <span class="text-warning">Nigeria</span></li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content d-none d-lg-block">
							<ul class="list-main">

								<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
								<li><i class="ti-user"></i> <a href="#">My account</a></li>
								<li><i class="ti-power-off"></i><a href="login.html#">Login</a></li>
								<li> EN <i class="ti-angle-down"></i> <a href="#"></a></li>


							</ul>
						</div>


						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo w-25 d-lg-none ">
							<a href="index.html"><img src="static/images/logo.png" alt="logo" class="w-100"></a>
						</div>

            <div class="logo w-75 d-none d-lg-block ">
              <a href="index.html"><img src="static/images/logo.png" alt="logo" class="w-100"></a>
            </div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search a product or a seller..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>



					<style>
						.nn{
							border: none;
						}
					</style>



					<div class="col-lg-8 col-md-8 col-12 rounded-pill ">
						<div class="search-bar-top ">
							<div class="search-bar shadow nn" style="border: none; border-radius: 30px;">
								<select>
									<option selected="selected">All</option>
									<option>watch</option>
									<option>mobile</option>

								</select>
								<form style="border: none; border-radius: 30px;">
									<input name="search" placeholder="Search a product or a seller..." type="search" class="nn">

								</form>
							</div>
						</div>
					</div>



					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-shopping-cart"></i> <span class="total-count">2</span></a>




								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="#">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="static/images/gg.jpg" alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="checkout.html" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-9 col-12">
							<div class="menu-area">

					<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
													<li ><a href="index.html">Home</a></li>
													<li><a href="customer-service.html">Customer Service</a></li>
													


													<li><a href="gift-card.html">Gift Card</a></li>

													<li><a href="sell.html">Sell</a></li>

													<li><a href="discover-afripimall.html">Discover Afripimall</a></li>

													<li class="active"><a href="#">Order<i class="ti-angle-down"></i></a>
														<ul class="dropdown">
															<li class="active"><a href="order-history.html">Orders History</a></li>
															<li><a href="track-order.html">Track my order</a></li>
															<li><a href="contact.html">Contact Support</a></li>
														</ul>
													</li>
													

													<!-- <li><a href="#">Langage<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="shop-grid.html">Shop Grid</a></li>
															<li><a href="cart.html">Cart</a></li>
															<li><a href="checkout.html">Checkout</a></li>

															<li class="text-lg-end"><a href="">Shop top categories</a></li>

														</ul>
													</li> -->

													
												</ul>
										</div>


									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->


					<style type="text/css">
						


						.card {

							background-color: rgb(255 255 255 / 0.6);
							backdrop-filter: blur(10%);
							border-radius: 20px;
							position: relative;

						}


						.logi {
							background-color: burlywood;
						}


						.bg-dark {
							background-color: burlywood;
						}


					

					</style>


	<!-- Order Details -->
	<!-- User Table -->
	<section>
		<div class="container">
			<div class="row mt-5 mb-5">
				<div class="col-lg-8 mx-auto">
              <div class="card shadow">
                <h5 class="card-header text-dark" style="font-size: 17px;">Your orders history</h5>
                <div class="table-responsive text-nowrap mt-3">
                  <table class="table ">
                    <thead>
                      <tr style="font-size: 12px;">
                        <th>Name</th>
                        <th>Regular Price</th>
                        <th>Discount price</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <td>
                          <i class="fab fa-angular fa-lg text-danger me-3"></i>
                          <span class="fw-medium">Iphone 12 Max Pro</span>
                        </td>
                        <td><small>USD</small>  1190 </td>
                        <td>
                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li>

                            <small>USD</small> 989.99 
                              
                            </li>
                            
                           
                          </ul>
                        </td>
                        <td><span class="badge bg-success me-1 text-white">Terminated</span></td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-check-circle me-1 text-success"></i> Terminated</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1 text-warning"></i> Edit</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-block me-1 text-danger"></i> Block </a
                              >
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                     




                      <tr>
                        <td>
                          <i class="fab fa-react fa-lg text-info me-3"></i> <span class="fw-medium">Whirlpool Frige Model XUUR</span>
                        </td>
                        <td><small>USD</small> 836</td>
                        <td>
                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                            <li>
                             N/A
                            </li>
                           
                          </ul>
                        </td>
                        <td><span class="badge bg-success me-1 text-white">Terminated</span></td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-check-circle me-1 text-success"></i> Terminated</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1 text-warning"></i> Edit</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-block me-1 text-danger"></i> Block </a
                              >
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td class="rounded-start-bottom">
                          <i class="fab fa-bootstrap fa-lg text-primary me-3"></i>
                          <span class="fw-medium">Adidas Sport</span>
                        </td>
                        <td><small>USD</small> 86</td>
                        <td>
                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                           
                           
                            <li>
                              N/A
                            </li>
                          </ul>
                        </td>
                        <td><span class="badge bg-label-warning me-1"> <box-icon type='solid' name='timer'></box-icon> Pending</span></td>
                        <td class="rounded-end-bottom">
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                          <div class="dropdown-menu">
                              
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-check-circle me-1 text-success"></i> Terminated</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-edit-alt me-1 text-warning"></i> Edit</a
                              >

                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-block me-1 text-danger"></i> Block </a
                              >
                              <a class="dropdown-item " href="javascript:void(0);"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ User Table -->

            </div>
          </div> 
          </div> 

              </section>
	
<!-- Order Details -->



	
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="index.html"><img src="static/images/logfooter.png" class="w-50" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - Nigeria Lagos.</li>
									<li>012 United Kingdom.</li>
									<li>info@afripimall.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2020 <a href="" target="_blank">Afripimall</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="static/images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	
	
 
	<!-- Jquery -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.js"></script>
	<script src="static/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="static/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="static/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="static/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="static/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="static/js/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="static/js/facnybox.min.js"></script>
	<!-- Waypoints JS -->
	<script src="static/js/waypoints.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="static/js/jquery-counterup.min.js"></script>
	<!-- Countdown JS -->
	<script src="static/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="static/js/nicesellect.js"></script>
	<!-- Ytplayer JS -->
	<script src="static/js/ytplayer.min.js"></script>
	<!-- Flex Slider JS -->
	<script src="static/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="static/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="static/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="static/js/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="static/js/gmap.min.js"></script>
	<script src="static/js/map-script.js"></script>
	<!-- Active JS -->
	<script src="static/js/active.js"></script>
</body>
</html>